// Pine and BlueGray
// :export {
// Violet
// primary50: #eeeef7;
// primary100: #cbcbe7;
// primary200: #a8a8d7;
// primary300: #8585c7;
// primary400: #6362b7;
// primary500: #49489d;
// primary600: #39387a;
// primary700: #292857;
// primary800: #181834;
// primary900: #080811;

//   // Pine
// primary50: #c5e6e5;
// primary100: #b4dad8;
// primary200: #91c2c0;
// primary300: #6daba7;
// primary400: #4a938f;
// primary500: #168178;
// primary600: #1f625e;
// primary700: #174a47;
// primary800: #10312f;
// primary900: #081918;

//   // BlueGray
//   secondary50: #c7daec;
//   secondary100: #b4cce1;
//   secondary200: #8fafcc;
//   secondary300: #6991b6;
//   secondary400: #4474a1;
//   secondary500: #1e578b;
//   secondary600: #18466f;
//   secondary700: #123453;
//   secondary800: #0c2338;
//   secondary900: #06111c;
// }

// Blue and Crimson
// :export {
//   // Blue
//   primary50: #e6f3fe;
//   primary100: #b5dcfc;
//   primary200: #84c4fa;
//   primary300: #53adf9;
//   primary400: #2295f7;
//   primary500: #087cdd;
//   primary600: #0660ac;
//   primary700: #05457b;
//   primary800: #03294a;
//   primary900: #03294a;

//   // Crimson
//   secondary50: #fee6f3;
//   secondary100: #fcb5dc;
//   secondary200: #fb84c5;
//   secondary300: #f953ad;
//   secondary400: #f72296;
//   secondary500: #dd087c;
//   secondary600: #ac0661;
//   secondary700: #7b0445;
//   secondary800: #4a0329;
//   secondary900: #19010e;
// }

// Violet and GoldLime
:export {
	// Primary
	primary: #00804b;
	primary50: #d9ffef;
	primary100: #c6ecdd;
	primary200: #8cd9b9;
	primary300: #53c696;
	primary400: #00cc78;
	primary500: #00804b;
	primary600: #00673c;
	primary700: #004d2d;
	primary800: #00341e;
	primary900: #001a0f;

	// Secondary
	secondary: #9c9d48;
	secondary50: #f7f7ee;
	secondary100: #e7e7cb;
	secondary200: #d6d7a8;
	secondary300: #c6c785;
	secondary400: #b6b762;
	secondary500: #9c9d48;
	secondary600: #7a7a38;
	secondary700: #575728;
	secondary800: #343418;
	secondary900: #111108;

	// Success
	success: #21c55d;
	success50: #f1f5f9;
	success100: #dcfce6;
	success200: #baf7d0;
	success300: #87eeab;
	success400: #49de80;
	success500: #21c55d;
	success600: #16a349;
	success700: #16803c;
	success800: #166434;
	success900: #14532d;

	// Info
	info: #0ba5e9;
	info50: #f0f9fe;
	info100: #dff1fe;
	info200: #bae6fc;
	info300: #7cd3fc;
	info400: #37bcf8;
	info500: #0ba5e9;
	info600: #0084c7;
	info700: #0568a0;
	info800: #065984;
	info900: #0c4a6e;

	// Warning
	warning: #f59e0b;
	warning50: #fefbeb;
	warning100: #fef2c7;
	warning200: #fde68a;
	warning300: #fbd34c;
	warning400: #fbbe24;
	warning500: #f59e0b;
	warning600: #d97707;
	warning700: #b4530a;
	warning800: #92400d;
	warning900: #783510;

	// Danger
	danger: #f43f5e;
	danger50: #fff0f2;
	danger100: #ffe4e5;
	danger200: #fdcdd2;
	danger300: #fca4af;
	danger400: #fb7185;
	danger500: #f43f5e;
	danger600: #e11d47;
	danger700: #be123b;
	danger800: #9f1239;
	danger900: #881337;

	// GRAYS = TW SLATE
	gray: #667085;
	gray50: #f9fafb;
	gray100: #f2f4f7;
	gray200: #eaecf0;
	gray300: #d0d5dd;
	gray400: #98a2b3;
	gray500: #667085;
	gray600: #475467;
	gray700: #344054;
	gray800: #1d2939;
	gray900: #101828;
}
